html {
    font-family: Arial, Helvetica, sans-serif;
}

/* navigation */

nav {
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

h1,h2,h3,h4,h5 {
    font-weight: medium;
}

#logo {
    max-width: 100px;
}

.nav-search {
    width: 40%;
    display: flex;
    margin-top: 10px;
}

.nav-search input[type="text"] {
    width: 90%;
    height: 30px;
    font-size: 16px;
    padding: 3px 10px;
    
}

.nav-search button {
    height: 40px;
    padding: 5px 20px;
}

.nav-search button img {
    height: auto;
    max-width: 20px;
}

.nav-icons {
    margin-top: 20px;
}

.nav-icons li {
    display: inline-block;
    margin-right: 20px;
}

.nav-icons img {
    max-width: 20px;
}

/* Main body of the page */

main {
    width: 95%;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main-content-column {
    width: 65%;
    display: flex;
    flex-direction: column;
}

#video-container {
    width: 100%;
    height: 58%;
    display: static;
    position: relative;
}

#video {
    width: 100%;
    height: 100%;
}

#video-info-box {
    width: 90%;
    margin: 10px;
}

/* Sidebar */

#sidebar-column {
    width: 30%;
}

#sidebar-column-header {
    margin-bottom: 15px;
}

#sidebar-column-header span{
    font-size: 1rem;
}

.sidebar-video {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 5px;
}

.sidebar-video .thumb-link {
    width: 45%;
}

.sidebar-video .thumb-link img {
    width: 100%;
    height: auto;
}

.sidebar-video-info {
    width: 50%;
}


#main-content-column, #sidebar-column, main {
    
    height: 1000px;
    
}

#video-stats {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dadada;
}

#video-stats p, #video-stats ul li {
    color: rgb(96,96,96);
}

#video-stats ul li {
    display: inline-flex;
    margin-right: 15px;
    line-height: 1.3;
}

#video-stats ul li:nth-of-type(2) img {
    transform: rotate(180deg);
}

#video-stats img {
    width: 20px;
    margin-right: 5px;
    height: auto;
}

#user-info-box {
    display: flex;
    justify-content: space-between;
}

#user-info-box img {
    width: 60px;
    height: 50px;
    border-radius: 100%;
    margin: 15px;
}

#user-info-box button {
    background-color: rgb(204,0,0);
    color: #fff;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    height: 45px;
    padding: 10px 20px;
    margin-top: 20px;
}

#user-info-box a {
    color: rgba(0,0,0,0.3);
    font-size: 14px;
    text-decoration: none;
}

/* sidebar thumbnail divs */

.thumb-link {
    margin-right: 5px;
}

.sidebar-column a {
    text-decoration: none!important;
}

.sidebar-video-info a {
    text-decoration: none;
}

.sidebar-video-info h5 {
    padding: 0;
    margin: 0;
    font-size: 0.85rem;
    color: #000;
}

.sidebar-video-info span {
    padding: 0;
    margin: 0;
}

.sidebar-video-info p {
    margin: 5px 0;
}

.sidebar-video-info p, .sidebar-video-info span {
    color: rgb(96,96,96);
    font-size: 0.8rem;
}

#first-sidebar-video {
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
    margin-bottom: 15px;
}



