/* navigation */



nav {
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
}


#logo {
    max-width: 100px;
}

.nav-search {
    width: 40%;
    display: flex;
    margin-top: 10px;
}

.nav-search input[type="text"] {
    width: 90%;
    height: 30px;
    font-size: 16px;
    padding: 3px 10px;
    
}

.nav-search button {
    height: 40px;
    padding: 5px 20px;
}

.nav-search button img {
    height: auto;
    max-width: 20px;
}

.nav-icons {
    margin-top: 20px;
}

.nav-icons li {
    display: inline-block;
    margin-right: 20px;
}

.nav-icons img {
    max-width: 20px;
}


/* util classes */

